.light{
    background: linear-gradient(to bottom, rgb(108, 176, 200), rgb(255, 255, 255) 50%, rgb(108, 176, 200)); 
}
.dark{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(89, 89, 89) 50%, rgb(0, 0, 0)); 
}
.logo{
    height: 100px;
}
.card-img-top{
    padding: 10px;
    height: 520px;
}

.card{
    width: 220px;
    
}
.contenedorMode{
    margin: 10px;
}
#contenedor-edad{
    margin: 10px;
}



